= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: :sign_in_form }) do |f|
  %h2 Переслать инструкции подтверждения аккаунта
  = devise_error_messages!
  %fieldset
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  %fieldset
    = f.submit "Переслать"
= render "users/shared/links"