= render 'backend/shared/messages'
= form_for([:backend, @employee], html: {class: :form}) do |f|
  %fieldset
    .row
      .col-md-6
        .form-group
          = f.label :nickname
          = f.text_field :nickname, required: true, class: 'form-control'
        .form-group
          = f.label :name_first
          = f.text_field :name_first, required: true, class: 'form-control'
        .form-group
          = f.label :name_last
          = f.text_field :name_last, required: true, class: 'form-control'
        .form-group
          = f.label :email
          = f.text_field :email, required: true, class: 'form-control'
      .col-md-6
        =render 'backend/shared/form_partials/checkbox', f: f, field: :is_active
        .form-group
          = f.label :group_id
          = f.select :group_id, @groups, {}, class: 'form-control'
        .form-group
          = f.label :password
          = f.password_field :password, class: "password form-control"
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: "password_confirmation form-control"
          %br
          %a#generate-password{href: "#"}
            %small Сгенерировать безопасный пароль
    %hr

  .form-actions
    = f.submit t('label.save'), class: 'btn btn-primary'
    = f.submit t("label.save_and_exit"), class: 'btn btn-primary'
    -if @employee.id.present?
      = link_to 'Удалить пользователя', backend_employee_path(@employee), data: { confirm: t('msg.confirm'), method: :delete }, class: 'btn btn-danger'

