- content_for :title, "Twitter | #{Setting.site_name}"

%section.tweet-page-container.stars-socials-tab
  - model.each do |tweet|
    .tweet-box
      .tweet-user-info
        %a{href: "https://twitter.com/#{tweet['user']['screen_name']}", target: "_blank"}
          .tweet-user-ava{style: "background-image: url(#{tweet['user']['profile_image_url']})"}
        %a{href: "https://twitter.com/#{tweet['user']['screen_name']}", target: "_blank"}
          .tweet-user
            .tweet-user-name
              = truncate(tweet['user']['name'], length: 20)
            .tweet-user-screenname
              = "@#{tweet['user']['screen_name']}"
      .tweet-text
        =simple_format tweet['text']
      - media = tweet['media']
      - unless media.nil?
        .tweet-btn-show-media
          Показать каринку
        %a.hid{href: "https://twitter.com/#{tweet['user']['screen_name']}/status/#{tweet['id']}", target: "_blank"}
          .tweet-image.hidden
            =image_tag media[0]['media_url'], width: 188
      .tweet-box-separator
      .action-btn-social
        %a{href: "https://twitter.com/intent/favorite?tweet_id=#{tweet['id']}"}
          %button.btn-stars-social
        %a{href: "https://twitter.com/intent/tweet?in_reply_to=#{tweet['id']}"}
          %button.btn-share-social
        %a{href: "https://twitter.com/intent/retweet?tweet_id=#{tweet['id']}"}
          %button.btn-reload-social

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
