= render 'backend/shared/messages'
.container-content
  = form_for([:backend, @video], html: {class: "form"}) do |f|
    %fieldset
      %ul.nav.nav-tabs.tabs
        %li.active
          %a{href:'#tab1', data: {toggle: 'tab'} }
            Общие
        %li
          %a{href:'#tab2', data: {toggle: 'tab'} }
            Медиа
        %li
          %a{href:'#tab3', data: {toggle: 'tab'} }
            Авторы
        %li
          %a{href:'#tab4', data: {toggle: 'tab'} }
            Сео
      .tab-content
        #tab1.tab-pane.active= render partial: "tab1", locals: {f: f}
        #tab2.tab-pane= render partial: "tab2", locals: {f: f}
        #tab3.tab-pane= render "backend/shared/nested/author_form", f: f
        #tab4.tab-pane= render 'backend/shared/nested/seo', f: f
      .clearfix
    .form-actions
      = f.submit t("label.save"), class: "btn btn-primary"
      = f.submit t("label.save_and_exit"), class: "btn btn-primary"
      = link_to "Удалить #{@video.is_published ? 'видео' : 'черновик'}", backend_video_path(@video), data: { confirm: t("msg.confirm"), method: :delete }, class: "btn btn-danger"