= render 'backend/shared/messages'

.container-content
  = form_for([:backend, :popup, @leagues_group], html: {class: :form}) do |f|
    =f.hidden_field :league_id, {class: 'leagues-group-field'}
    =f.hidden_field :year_id, {class: 'year-field'}
    %fieldset
      %ul.nav.nav-tabs.tabs
        %li.active
          %a{href:'#tab1', data: {toggle: 'tab'} }
            Общие
        %li
          %a{href:'#tab2', data: {toggle: 'tab'} }
            Матчи
        %li
          %a{href:'#tab3', data: {toggle: 'tab'} }
            Сео
      .tab-content
        #tab1.tab-pane.active= render 'tab1', f: f
        #tab2.tab-pane= render 'backend/leagues_groups/tab2', f: f
        #tab3.tab-pane= render 'backend/shared/nested/seo', f: f
    .form-actions
      = f.submit t('label.save'), class: 'btn btn-primary'

=content_for :javascripts do

  :javascript
    function init(text){
      if (text.model_id){
        $('.leagues-group-field').val(text.model_id)
      }
      if(text.yearId){
        $('.year-field').val(text.yearId)
      }
    }