= render 'backend/shared/messages'

.container-content
  = form_for([:backend, @person], html: {class: :form}) do |f|
    %fieldset
      %ul.nav.nav-tabs.tabs
        %li.active
          %a{href:'#tab1', data: {toggle: 'tab'} }
            Общие
        %li
          %a{href:'#tab2', data: {toggle: 'tab'} }
            Медиа
        %li
          %a{href:'#tab4', data: {toggle: 'tab'} }
            Сео
      .tab-content
        #tab1.tab-pane.active= render 'tab1', f: f
        #tab2.tab-pane= render 'backend/shared/nested/main_image', f: f, title: 'Фото-игрока', model: @person
        #tab4.tab-pane= render 'backend/shared/nested/seo', f: f

    .form-actions
      = f.submit t("label.save"), class: "btn btn-primary"
      = f.submit t("label.save_and_exit"), class: "btn btn-primary"
      = link_to "Удалить игрока", backend_person_path(@person), data: { confirm: t("msg.confirm"), method: :delete }, class: "btn btn-danger" unless @person.new_record?