%h3= t "controllers.backend.#{controller.controller_name}"
.subnav
  .navbar.navbar-default
    .navbar-inner
      %ul.nav.navbar-nav
        %li{class: current_page?(backend_columnist_columnist_posts_path(columnist_id)) && :active}
          %a{href: backend_columnist_columnist_posts_path(columnist_id)}
            %span.glyphicon.glyphicon-th-list
            = t "actions.index"
        %li{class: current_page?(new_backend_columnist_columnist_post_path(columnist_id)) && :active}
          %a{href: new_backend_columnist_columnist_post_path(columnist_id)}
            %span.glyphicon.glyphicon-pencil
            = t "actions.new"
      -if params[:action] == 'index'
        = render "backend/shared/navbar_search_form", form_url: backend_columnist_columnist_posts_path(columnist_id)