= render 'backend/shared/messages'
.container-content
  %br/
  %br/
  = form_for([:backend, @year], html: {class: :form}) do |f|
    %fieldset
      %ul.nav.nav-tabs.tabs
        %li.active
          %a{href:'#tab1', data: {toggle: 'tab'} }
            Общие
        %li
          %a{href:'#tab2', data: {toggle: 'tab'} }
            Туры
      .tab-content
        #tab1.tab-pane.active= render 'tab1', f: f
        #tab2.tab-pane= render 'tab2', f: f
    .form-actions
      = f.submit t('label.save'), class: 'btn btn-primary'