= render 'backend/shared/messages'
.container-content
  = form_for([:backend, @setting], html: {class: "form"}) do |f|
    %fieldset
      %ul.nav.nav-tabs.tabs
        %li.active
          %a{href:'#tab1', data: {toggle: 'tab'} }
            Общие
      .tab-content
        #tab1.tab-pane.active= render 'tab1', f: f
    .form-actions
      = f.submit t("label.save"), class: "btn btn-primary"
      = f.submit t("label.save_and_exit"), class: "btn btn-primary"